@model IEnumerable<MVCJuegos.Models.Juegos>

@{
    ViewData["Title"] = "Lista de Juegos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="container">
    @if(TempData["mensaje"] != null){
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-8" style="text-align:center">
            <h1>Lista de Juegos</h1>
        </div>
    </div>

    <div class="row"  >
        @if (Model.Count() > 0) {
                @foreach (var item in Model) {
                        <div class="card" >
                                  @if (item.Imagen != null) 
                                {                               
                                     <img src="@item.Imagen" alt="Juego" class="card-img-top"/>

                                }
                                else 
                                {
                                  <img src="./css/" alt="Juego" class="card-img-top" />
                                }
                                <div class="card-body">
                                    <p class="card-title"> @Html.DisplayFor(modelItem => item.Nombre)</p>
                                    <p class="card-text">Info: @Html.DisplayFor(modelItem => item.Descripcion)</p>
                                    <p class="card-text">Consola: @Html.DisplayFor(modelItem => item.Consola)</p>
                                    <p class="card-text">Genero: @Html.DisplayFor(modelItem => item.Genero)</p>
                                    <div>
                                        <a asp-controller="Juegos" asp-action="Info" asp-route-id="@item.Id" class="btn btn-warning">Descargar</a>
                                        <a asp-controller="Juegos" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                    </div>
                                </div>
                        </div>
                }
        } else{
            <h1>Lo siento no hay Juegos disponibles</h1>
        }
    </div>

</div>

